@import '@arcgis/core/assets/esri/themes/light/main.css';

/* Global styling */
* {
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

::ng-deep {

  .p-component,
  .p-datatable,
  .p-dropdown,
  .p-button,
  .p-inputtext,
  .p-paginator {
    font-family: 'Helvetica Neue', 'Arial', sans-serif !important;
  }
}

::ng-deep {
  .echarts {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
  }
}
